*{
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}
.hero{
    height: 150vh;
    width: 100%;
    background-image: url(./images/pexels-junior-teixeira-2047905.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px 20px 20px 20px;
   

}
h1{
    color:white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h2{
    color:white;
}
h3{
    color:white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color:white;
    letter-spacing: 2px;
    font-size:20px ;
}

.logo{
    font-size: 30px;
}
span{
    color: #f9004d;
}
nav{
    padding-top: 15px;
}
nav ul{
    list-style: none;
    color: white;
}
nav li{
    display: inline;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    /* background-color: #f9004d; */
    /* border-radius: 15px; */
}
.btn{
    padding: 9px 22px;
    border-radius: 20px;
    border: none;
    background-color: #f9004d;
    color: white;
    font-size: 20px;
}
.btn:hover{
    transform: scale(1.2);
    color: #f9004d;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.newslatter form{
    width:380px;
    max-width: 100%;
    position: relative;
}
.newslatter input:first-child{
    display: inline;
    width: 100%;
    padding: 20px 3px 20px 12px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.newslatter button:last-child{
    position: absolute;
    display:inline-block ;
    outline: none;
    border: none;
    padding: 10px 30px; 
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    top: 240px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img {
    height: auto;
    width: 430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 autp;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about text h2{
    color:white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button {
    margin-left: 10px;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor :pointer;
}

.services{
   background-color: #101010;
   width: 100%;
   padding: 100px 0px;
   display: flex;
  
  
    
}

.box{
    border: 1px solid black;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    min-height: 300px;
    width: 300px;
    margin: 20px;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    color: #fcfc;  
    margin-left: auto;
    margin-right: auto;
}
.box h5{
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
}
.box p{
    margin-bottom: 25px;
}
.box .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    
    
}
.contact-me{
    background-color: #191919;
    height:200px;
    text-align: center;
    padding-top: 150px;
}
.contact-me button{
    margin-top: 20px;
}
footer{
    background-color: #101010;
    color: white;
    text-align: center;
    padding: 20px;
}
footer p{
    margin:20px
}